<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TagList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FDCE748F1BD67DE8009A592B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDCE74A81BD67DE8009A592B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDCE74B31BD67DE8009A592B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
